<html>
    <head>
        <link rel="icon" href="/img/cloud-sun.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>About this site</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by awesome person.</p>
        </div>
        {{>footer}}
    </body>
</html>